<!-- add -->
<!-- add Picture-->
<!-- update -->
<!-- delete -->
<%- include('./shared/header')%>

    <title>Notes</title>
    </head>

    <body>
        <section class="main p-5">
            <div class="container my-5 p-5">

                <div class="text-center my-1">
                    <h2> Add Note</h2>
                </div>
                <div class="my-2">
                    <% if (errMessage?.length) { %>
                        <div class="alert alert-danger text-center my-1">
                            <%= errMessage %>
                        </div>
                        <% } %>
                        <% if (validationErr?.includes('body')) { %>
                            <div class="alert alert-danger text-center my-1">
                                <%= validationErr %> not allowed to be Empty 
                            </div>
                            <% } %>
                    <form class="m-auto w-75 p-5" action="/note/" method="POST" enctype="multipart/form-data">
                        <div class="form-group my-1">
                            <input value="<%=oldInputs?.body%>" class="form-control" name="body" placeholder="Note"
                                type="text" />
                        </div>
                        <div class="form-group my-1">
                            <input class="form-control" name="picture" type="file" />
                        </div>
                        <div class="form-group my-1">
                            <button class="btn btn-info w-100"> ADD Note</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            <div class="my-3">
                <div class="row justify-content-center align-items-center">
                    <% for( let i=0; i < notes.length; i++ ) { %>
                        <div class="col-md-4">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="<%=notes[i].picture%>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">

                                            <%=notes[i].body%>
                                        </p>
                                        <a href="/product/<%=notes[i]._id%>/delete" class="btn btn-danger p-3">Delete</a>
                                        <a href="/updateNote/<%=notes[i]._id%>" class="btn btn-info p-3">Update</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <%- include('./shared/footer')%>